.page-two-column {
  .panel-content {
    .entry-header {
      margin-bottom: 16px;
      padding-bottom: 16px;
      border-bottom: solid 1px #000;
      width: 100% !important;
      float: none !important;
      @media screen and (min-width: 48em) {
        margin-bottom: 30px;
        padding-bottom: 30px;
      }
      h2 {
        text-transform: none;
        margin: 0;
        font-size: 1.25rem;
        @media screen and (min-width: 48em) {
          font-size: 2rem;
        }
      }
    }
    .entry-content {
      float: none !important;
      width: 100% !important;
    }
  }
}
